@using MyUniversityProject.Models.Pagination
@model IndexCellModel
@addTagHelper "*, MyUniversityProject"

    @if (Model.Cells.FirstOrDefault().Any())
    {
        <div class="d-flex justify-content-center">
            <ul class="list-group">
                <li class="list-group-item">
                    <table class="table-sm table-dark text-center">
                        @foreach (var items in Model.Cells)
                        {
                            <tr>
                                @foreach (var item in items)
                                {
                                    <td class="form-group">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                @Html.LabelFor(modelItem => item.CellId, "Id: " + item.CellId.ToString(), new { @class = "control-label  text-dark text-center" })
                                            </li>
                                            <li class="list-group-item">
                                                @if (item.Status)
                                                {
                                                    @Html.ActionLink("Reserve", "ReserveCell", "Storage", new { id = item.CellId }, new { @class = "btn btn-success" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Reserve", "ReserveCell", "Storage", new { id = item.CellId }, new { @class = "btn btn-danger disabled" })
                                                }
                                            </li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </li>
                <li class="list-group-item-secondary text-center" style="list-style-type:none">
                    <page-link page-model="@Model.PageViewModel" page-url-id="@Model.Cells.FirstOrDefault().FirstOrDefault().StorageId" page-action="ListOfCells"></page-link>
                </li>
            </ul>

        </div>
    }
    else
    {
        <br/>
        <h1>This Storage doesn't have cells</h1>
    }
