@*@inject SignInManager<UserInfo> signInManager;*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/lib/bootstrap/js/popper.js/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-toggle/css/bootstrap-toggle.min.css" />
        <script src="~/lib/bootstrap/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/mysite.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                    {
                
                            <div class="btn-group pr-2">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Settings
                                </button>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Work with Storage", "GetAllStorage", "Storage", null, new { @class = "dropdown-item btn-outline-success" })
                                    @Html.ActionLink("Work with Standart", "GetAllStandarts", "Storage", null, new { @class = "dropdown-item btn-outline-success" })
                                    @Html.ActionLink("Work with Cell", "StorageCells", "Storage", new { StorageId = -1 }, new { @class = "dropdown-item btn-outline-success" })
                                    @Html.ActionLink("User Information", "Users", "Admin", null, new { @class = "dropdown-item btn-outline-success" })
                                    @Html.ActionLink("Admin Settings", "AdminSettings", "Admin", null, new { @class = "dropdown-item btn-outline-success" })
                                    @Html.ActionLink("Reservation Info", "GetReservations", "Reservation", null, new { @class = "dropdown-item btn-outline-success" })
                                    @Html.ActionLink("Create Cell", "CreateCell", "Storage", null, new { @class = "dropdown-item btn-outline-success" })

                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("AdminDash", "AdminDash", "Admin", new { area = "" }, new { @class = "dropdown-item btn-outline-success" })
                                </div>
                            </div>
                    }
                    else
                    {
                        <a class="navbar-brand text-white" href="/Reservation">
                            Reservation
                        </a>
                    }
                </div>
                <div class="collapse navbar-collapse" aria-expanded="false" id="collapse">
                    <ul class="nav navbar-nav mr-auto">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                        {
                            <li>
                                <button class="btn btn-warning">
                                    @(User.IsInRole("Admin") == true ? "Admin " : "SuperUser ")
                                </button>
                            </li>
                        }
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin") && !User.IsInRole("SuperUser"))
                        {
                            <li>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        My Office
                                    </button>
                                    <div class="dropdown-menu">
                                        @Html.ActionLink("My Office", "Index", "MyOffice", null, new { @class = "dropdown-item btn-outline-danger" })
                                        @Html.ActionLink("Reservation History", "ReservationHistory", "MyOffice",null, new { @class = "dropdown-item btn-outline-danger" })
                                        <div class="dropdown-divider"></div>
                                        @Html.ActionLink("Log out", "Logout", "MyOffice", new { area = "" }, new { @class = "dropdown-item btn-outline-danger" })
                                    </div>
                                </div>
                            </li>
                        }

                        else if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                        {
                            <li>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        My Office
                                    </button>
                                    <div class="dropdown-menu">
                                        @Html.ActionLink("Admin Office", "AdminOffice", "Admin", null, new { @class = "dropdown-item btn-outline-danger" })
                                        @Html.ActionLink("Settings", "Index", "Admin", null, new { @class = "dropdown-item btn-outline-danger" })
                                        @Html.ActionLink("Logging History", "Reservation", "MyOffice", new { area = "" }, new { @class = "dropdown-item btn-outline-danger" })
                                        <div class="dropdown-divider"></div>
                                        @Html.ActionLink("Log out", "Logout", "Admin", new { area = "" }, new { @class = "dropdown-item btn-outline-danger" })
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Sign in", "Login", "MyOffice", new { area = "" }, new { @class = "btn btn-danger my-2 my-sm-0 my-margin-for-button" })
                            </li>
                            <li>
                                @Html.ActionLink("Sign up", "Register", "MyOffice", new { area = "" }, new { @class = "btn btn-danger my-2 my-sm-0" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>

